<button (click)="ngxSmartModalService.getModal('discount').open()">Créer</button>
<ag-grid-angular
  #grid
  style="width: 800px; height: 500px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  [frameworkComponents]="frameworkComponents"
>
</ag-grid-angular>

<ngx-smart-modal #discount identifier="discount">
  <form [formGroup]="form">
    <label for="discount" ></label>
    <input type="text" id="discount" formControlName="discountPrice" />

    <label for="elementTypeMenu">Menu</label>
    <input type="radio" id="elementTypeMenu" value="Menu" name="element" (change)="valueList($event)"/>
    <label for="elementTypeMenu">ligne de Produit</label>
    <input type="radio" id="elementTypeProductLine" value="ligne de Produit" name="element"
           (change)="valueList($event)"/>

    <select formControlName="menuId" id="listMenu" *ngIf="element === 'Menu' && list">
      <option *ngFor="let menu of list" [value]="menu.id">{{menu.name}}</option>
    </select>


    <select formControlName="productLineId" id="listLine" *ngIf="element === 'Line' && list">
      <option *ngFor="let line of list" [value]="line.id">{{line.__product__.name +" "+line.desc_size}}</option>
    </select>
  </form>
  <button (click)="createForward(); discount.close()">Créer</button>
</ngx-smart-modal>
