<ul class="menu-bar">
  <li><a href="#">azertyuiop</a></li>
</ul>

<div class="row">
  <div class="card full-width" [routerLink]="['forwards']">
    <h3 class="card-title">Les mises en avant</h3>
    <h3></h3>
  </div>
  <div class="card full-width" [routerLink]="['discounts']">
    <h3 class="card-title">Les promotions</h3>
  </div>
</div>

<div class="row">
  <div class="card full-width" [routerLink]="['menus']">
    <h3 class="card-title">Les Menus</h3>
  </div>
  <div class="card full-width" [routerLink]="['types']">
    <h3 class="card-title">Les types de produits</h3>
  </div>
</div>

<div class="row">
  <div class="card full-width" [routerLink]="['ingredients']">
    <h3 class="card-title">Ingredients</h3>
  </div>
  <div class="card full-width" [routerLink]="['orders']">
    <h3 class="card-title">Les Commandes</h3>
  </div>
</div>





